config = {
    'host': 'someprovider.com',
    'port': 700,
    'user': 'username',
    'pass': 'password',
    'cert': 'somecertificate.pem'
}

contacts = {
    'registrant': 'idregistrant',
    'admin': 'idadmin',
    'tech': 'idtech',
}

namespaces = [
    'ns1.someprovider.com',
    'ns2.someprovider.com'
]
